.user {
    padding: 5px;
    margin-left: 5px;
}

/* .profile-icon {
    background-image: url("https://cdn-icons-png.freepik.com/512/8742/8742495.png");
    background-size: cover;
  
    
    background-position: center;
    
    
    background-attachment: fixed;
} */